

<div class="mt-9">
 <p-table   #[value]="" [tableStyle] = "{ 'min-width': '60rem' }">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <span class="text-xl font-bold">Products</span>
            <p-button icon="pi pi-refresh" rounded raised />
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Category</th>
            <th>Reviews</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <!-- <tr> -->
            @for (item of colectionComponent; track $index) {
            <td>{{ item.title }}</td>
            <td>
                <img
                    [src]=" item.poster"
                    
                    class="w-24 rounded"
                />
            </td>
            <td></td>
            <td>{{ product.category }}</td>
            <!-- <td><p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false" /></td> -->
            <td>
                <!-- دکمه دیلیت و ادیت -->
            </td>
        }
        <!-- </tr> -->
    
    </ng-template>
   
 </p-table>
</div>
